<%= form_with(model: temperature_prediction, local: true) do |form| %>
  <% if temperature_prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temperature_prediction.errors.count, "error") %> prohibited this temperature_prediction from being saved:</h2>

      <ul>
      <% temperature_prediction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :temperature_prediction_zip %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp, id: :temperature_prediction_temp %>
  </div>

  <div class="field">
    <%= form.label :date_covered %>
    <%= form.date_select :date_covered, id: :temperature_prediction_date_covered %>
  </div>

  <div class="field">
    <%= form.label :date_issued %>
    <%= form.date_select :date_issued, id: :temperature_prediction_date_issued %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
