<p id="notice"><%= notice %></p>

<h1>Temperature Predictions</h1>

<table>
  <thead>
    <tr>
      <th>Zip</th>
      <th>Temp</th>
      <th>Date covered</th>
      <th>Date issued</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @temperature_predictions.each do |temperature_prediction| %>
      <tr>
        <td><%= temperature_prediction.zip %></td>
        <td><%= temperature_prediction.temp %></td>
        <td><%= temperature_prediction.date_covered %></td>
        <td><%= temperature_prediction.date_issued %></td>
        <td><%= link_to 'Show', temperature_prediction %></td>
        <td><%= link_to 'Edit', edit_temperature_prediction_path(temperature_prediction) %></td>
        <td><%= link_to 'Destroy', temperature_prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temperature Prediction', new_temperature_prediction_path %>
